@media (max-width:1024px) {
    .about-main-container {
        max-width: 1024px;
    }

    .about-body-container {
        max-width: 900px;
        gap: 100px;
    }

    .about-body-container img {
        height: 400px;
        width: 50%;
        border-radius: 30px;
    }

    .about-text-container .about-heading h1 {
        font-size: 30px;
        padding: 10px 0px;
    }

    .about-para {
        padding: 0px;
        line-height: inherit;
        font-size: 17px;
    }

    .about-container-slider {
        max-width: 900px;
    }

    .about-container-slider h1 {
        font-size: 30px;
        padding: 0px 0px 15px 0px;
    }

    .about-container-slider .aboutswiper .card {
        height: 210px;
        width: 350px;
    }

    .about-main-container .about-final-container {
        max-width: 900px;
        padding-top: 50px;
    }

    .about-main-container .about-final-container img {
        width: 20%;
        height: auto;
        margin: 0px 360px;
    }

    .about-main-container .about-final-container h1 {
        font-size: 30px;
        margin: -75px 0px 20px 0px;
    }

    .about-main-container .about-final-container p {
        font-size: 17px;
        margin: -40px 0px 0px 0px;
    }

    .about-wrapper {
        max-width: 900px;
        border-radius: 10px;
        margin-top: 50px;
    }

    .about-main-container .about-final-container .about-wrapper .about-container1,
    .about-main-container .about-final-container .about-wrapper .about-container2,
    .about-main-container .about-final-container .about-wrapper .about-container3 {
        max-width: 800px;
    }

    .about-sub-container h5 {
        text-align: center;
        padding: 20px 0px;
        font-size: 20px;
    }

    .about-main-container .about-final-container .about-container1 .about-sub-container p,
    .about-main-container .about-final-container .about-container2 .about-sub-container p {
        font-size: 15px;
        padding: 20px 0px;
        line-height: normal;
    }

    .about-wrapper .about-container3 h5 {
        font-size: 20px;
        padding: 20px 0px;
    }

    .about-wrapper .about-container3 p {
        font-size: 15px;
        padding: 20px 0px;
    }

}

@media (max-width:768px) {
    .about-main-container {
        max-width: 768px;
    }
    .About-banner img {
        height: auto;
        width: 100%;
        padding-top: 61px;
        z-index: 1;
    }
    .about-body-container {
        max-width: 700px;
        gap: 10px;
    }

    .about-body-container img {
        height: 300px;
        width: 50%;
        border-radius: 30px;
    }

    .about-text-container .about-heading h1 {
        font-size: 20px;
        padding: 5px 0px;
    }

    .about-para {
        padding: 5px 0px;
        font-size: 16px;
        text-align: justify;
    }

    .about-container-slider {
        max-width: 700px;
    }

    .about-container-slider h1 {
        font-size: 20px;
        padding: 0px 0px 15px 0px;
    }

    .about-container-slider .aboutswiper .card {
        height: 160px;
        width: 350px;
    }

    .about-main-container .about-final-container {
        max-width: 700px;
        padding-top: 50px;
    }

    .about-main-container .about-final-container img {
        width: 20%;
        height: auto;
        margin: 0px 280px;
    }

    .about-main-container .about-final-container h1 {
        font-size: 30px;
        margin: -70px 0px 10px 0px;
    }

    .about-main-container .about-final-container p {
        font-size: 17px;
        margin: -40px 0px 0px 0px;
    }

    .about-wrapper {
        max-width: 700px;
        border-radius: 10px;
        margin-top: 50px;
    }

    .about-main-container .about-final-container .about-wrapper .about-container1,
    .about-main-container .about-final-container .about-wrapper .about-container2,
    .about-main-container .about-final-container .about-wrapper .about-container3 {
        max-width: 600px;
    }

    .about-sub-container h5 {
        text-align: center;
        padding: 20px 0px;
        font-size: 14px;
    }

    .about-main-container .about-final-container .about-container1 .about-sub-container p,
    .about-main-container .about-final-container .about-container2 .about-sub-container p {
        font-size: 12px;
        padding: 20px 0px;
        line-height: normal;
        text-align: justify;
    }

    .about-wrapper .about-container3 h5 {
        font-size: 14px;
        padding: 20px 0px;
    }

    .about-main-container .about-final-container .about-container3 p {
        font-size: 12px;
    }

}

@media (max-width:425px) {
    .about-main-container {
        max-width: 425px;
    }



    .about-body-container {
        max-width: 375px;
        gap: 10px;
        flex-wrap: wrap;
    }

    .about-body-container img {
        height: 300px;
        width: 100%;
        border-radius: 15px;
        margin: -40px 0px 10px 0px;
    }

    .about-text-container .about-heading h1 {
        font-size: 20px;
        padding: 5px 0px;
    }

    .about-para {
        padding: 5px 0px;
        font-size: 16px;
        text-align: justify;
    }

    .about-container-slider {
        max-width: 375px;
        margin-top: -50px;
    }

    img.img-fluid.rounded-start {
        margin: 0px 0px -30px 0px;
        width: 30%;
    }

    .about-container-slider h1 {
        font-size: 20px;
        padding: 0px 0px 15px 0px;
    }

    .about-container-slider .aboutswiper .card {
        height: 180px;
        width: 375px;
    }

    .about-main-container .about-final-container {
        max-width: 375px;
        padding-top: 0px;
    }

    .about-main-container .about-final-container img {
        width: 40%;
        height: auto;
        margin: 5px 112px;
    }

    .about-main-container .about-final-container h1 {
        font-size: 30px;
        margin: -70px 0px 10px 0px;
    }

    .about-main-container .about-final-container p {
        font-size: 17px;
        margin: -40px 0px 0px 0px;
    }

    .about-wrapper {
        max-width: 375px;
        border-radius: 10px;
        margin-top: 25px;
    }

    .about-container1,
    .about-container2 {
        flex-wrap: wrap;
        padding: 0px;
        justify-content: space-between;
        gap: 10px;
    }

    .about-sub-container h5 {
        text-align: center;
        padding: 20px 0px;
        font-size: 14px;
    }

    .about-main-container .about-final-container .about-container1 .about-sub-container p,
    .about-main-container .about-final-container .about-container2 .about-sub-container p {
        font-size: 12px;
        padding: 20px 0px;
        line-height: normal;
        text-align: justify;
    }

    .about-wrapper .about-container3 h5 {
        font-size: 14px;
        padding: 20px 0px;
    }

    .about-main-container .about-final-container .about-container3 p {
        font-size: 12px;
    }

    .about-main-container .about-final-container .about-wrapper .about-container3 {
        max-width: 600px;
        margin: -30px 0px 0px 0px;
    }
}

@media (max-width:375px) {
    .about-main-container {
        max-width: 375px;
    }

    .about-body-container {
        max-width: 325px;
        gap: 10px;
        flex-wrap: wrap;
    }

    .about-body-container img {
        height: 200px;
        width: 100%;
        border-radius: 15px;
        margin: -40px 0px 10px 0px;
    }

    .about-text-container .about-heading h1 {
        font-size: 20px;
        padding: 5px 0px;
    }

    .about-para {
        padding: 5px 0px;
        font-size: 16px;
        text-align: justify;
    }

    .about-container-slider {
        max-width: 325px;
        margin-top: -80px;
    }

    img.img-fluid.rounded-start {
        margin: 0px 0px -30px 0px;
        width: 30%;
    }

    .about-container-slider h1 {
        font-size: 20px;
        padding: 0px 0px 15px 0px;
    }

    .about-container-slider .aboutswiper .card {
        height: 200px;
        width: 375px;
    }

    .about-main-container .about-final-container {
        max-width: 325px;
        padding-top: 0px;
    }

    .about-main-container .about-final-container img {
        width: 40%;
        height: auto;
        margin: 10px 96px;
    }

    .about-main-container .about-final-container h1 {
        font-size: 30px;
        margin: -70px 0px 10px 0px;
    }

    .about-main-container .about-final-container p {
        font-size: 17px;
        margin: -40px 0px 0px 0px;
    }
}

@media (max-width:320px) {
    .about-main-container {
        max-width: 320px;
    }

    .about-body-container {
        max-width: 275px;
        gap: 10px;
        flex-wrap: wrap;
    }

    .about-body-container img {
        height: 200px;
        width: 100%;
        border-radius: 15px;
        margin: -40px 0px 10px 0px;
    }

    .about-text-container .about-heading h1 {
        font-size: 20px;
        padding: 5px 0px;
    }

    .about-para {
        padding: 5px 0px;
        font-size: 16px;
        text-align: justify;
    }

    .about-container-slider {
        max-width: 275px;
        margin-top: -80px;
    }

    .about-main-container .about-final-container {
        max-width: 275px;
        padding-top: 0px;
    }

    .about-main-container .about-final-container img {
        width: 40%;
        height: auto;
        margin: 10px 82px;
    }

    .about-main-container .about-final-container p {
        font-size: 17px;
        margin: -40px 0px 0px 0px;
        text-align: justify;
    }
}