@media (max-width:1024px){
        .beeda-container {
            max-width: 1024px;
            width: 100%;
            margin: 0 auto;
        }
    
        .beeda-body-container {
            max-width: 900px;
            width: 100%;
            margin: 0 auto;
        }
    
        .beeda {
            width: 100%;
        }
    
        .beeda-banner {
            background-image: ('../images/beeda/beeda-banner.png');
            background-size: cover;
            padding: 126px 0px;
            margin: 81px 0px 0px 0px;
            position: relative;
        }
    
        .beeda-content {
            width: 100%;
            margin: 0 auto;
        }
    
        .beeda-logo-context img {
            width: 20%;
            height: auto;
            margin: 0px 360px -50px 360px;
        }
    
        .beeda-logo-context h1 {
            text-align: center;
            color: green;
            font-size: 30px;
            margin:0px 0px -30px 0px;
        }
    
        .beeda-logo-context p {
            text-align: justify;
            padding: 20px 0px;
            font-size: 20px;
        }
    
        .beeda-product {
            width: 100%;
            margin: 50px auto;
        }
    
        .beeda-img {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 4.5rem;
            padding: 0px 0px 0px 0px;
        }
    
        .beeda-product .beeda-img .card {
            height: 293px;
            width: 243px;
        }
    
        img.beeda-pic {
            height: 243px;
            width: 243px;
        }
    
        h3#beeda-linkname a {
            font-size: 20px;
        }
}

@media (max-width:768px){
        .beeda-container {
            max-width: 768px;
            width: 100%;
            margin: 0 auto;
        }
    
        .beeda-body-container {
            max-width: 700px;
            width: 100%;
            margin: 0 auto;
        }
    
        .beeda {
            width: 100%;
        }
    
        .beeda-banner {
            background-image: ('../images/beeda/beeda-banner.png');
            background-size: cover;
            padding: 95px 0px;
            margin: 61px 0px 0px 0px;
            position: relative;
        }
    
        .beeda-content {
            width: 100%;
            margin: 0 auto;
        }
    
        .beeda-logo-context img {
            width: 20%;
            height: auto;
            margin: 0px 280px -50px 280px;
        }
    
        .beeda-logo-context h1 {
            text-align: center;
            color: green;
            font-size: 25px;
            margin:0px 0px -30px 0px;
        }
    
        .beeda-logo-context p {
            text-align: justify;
            padding: 20px 0px;
            font-size: 15px;
        }
    
        .beeda-product {
            width: 100%;
            margin: 50px auto;
        }
    
        .beeda-img {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 4.5rem;
            padding: 0px 70px;
        }
    
        h3#beeda-linkname a {
            font-size: 20px;
        }
}

@media (max-width:425px){
        .beeda-container {
            max-width: 425px;
            width: 100%;
            margin: 0 auto;
        }
    
        .beeda-body-container {
            max-width: 375px;
            width: 100%;
            margin: 0 auto;
        }
    
        .beeda {
            width: 100%;
        }
    
        .beeda-banner {
            background-image: ('../images/beeda/beeda-banner.png');
            background-size: cover;
            padding: 52px 0px;
            margin: 61px 0px 0px 0px;
            position: relative;
        }
    
        .beeda-content {
            width: 100%;
            margin: 0 auto;
        }
    
        .beeda-logo-context img {
            width: 30%;
            height: auto;
            margin: 0px 130px -50px 130px;
        }
    
        .beeda-logo-context h1 {
            text-align: center;
            color: green;
            font-size: 22px;
            margin:0px 0px -50px 0px;
        }
    
        .beeda-logo-context p {
            text-align: justify;
            padding: 30px 0px;
            font-size: 15px;
        }
    
        .beeda-product {
            width: 100%;
            margin: 50px auto;
        }
    
        .beeda-img {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            gap: 4.5rem;
            padding: 0px 65px;
        }
    
        h3#beeda-linkname a {
            font-size: 18px;
        }
}

@media (max-width:375px){
        .beeda-container {
            max-width: 375px;
            width: 100%;
            margin: 0 auto;
        }
    
        .beeda-body-container {
            max-width: 320px;
            width: 100%;
            margin: 0 auto;
        }
    
        .beeda {
            width: 100%;
        }
    
        .beeda-banner {
            background-image: ('../images/beeda/beeda-banner.png');
            background-size: cover;
            padding: 46px 0px;
            margin: 61px 0px 0px 0px;
            position: relative;
        }
    
        .beeda-content {
            width: 100%;
            margin: 0 auto;
        }
    
        .beeda-logo-context img {
            width: 30%;
            height: auto;
            margin: 0px 112px -50px 112px;
        }
    
        .beeda-logo-context h1 {
            text-align: center;
            color: green;
            font-size: 20px;
            margin:0px 0px -50px 0px;
        }
    
        .beeda-logo-context p {
            text-align: justify;
            padding: 30px 0px;
            font-size: 15px;
        }
    
        .beeda-product {
            width: 100%;
            margin: 50px auto;
        }
    
        .beeda-img {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            gap: 4.5rem;
            padding: 0px 38px;
        }
    
        h3#beeda-linkname a {
            font-size: 18px;
        }
}

@media (max-width:320px){
        .beeda-container {
            max-width: 320px;
            width: 100%;
            margin: 0 auto;
        }
    
        .beeda-body-container {
            max-width: 270px;
            width: 100%;
            margin: 0 auto;
        }
    
        .beeda {
            width: 100%;
        }
    
        .beeda-banner {
            background-image: ('../images/beeda/beeda-banner.png');
            background-size: cover;
            padding: 39px 0px;
            margin: 61px 0px 0px 0px;
            position: relative;
        }
    
        .beeda-content {
            width: 100%;
            margin: 0 auto;
        }
    
        .beeda-logo-context img {
            width: 30%;
            height: auto;
            margin: 0px 95px -50px 95px;
        }
    
        .beeda-logo-context h1 {
            text-align: center;
            color: green;
            font-size: 20px;
            margin:0px 0px -50px 0px;
        }
    
        .beeda-logo-context p {
            text-align: justify;
            padding: 30px 0px;
            font-size: 15px;
        }
    
        .beeda-product {
            width: 100%;
            margin: 50px auto;
        }
    
        .beeda-img {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            gap: 4.5rem;
            padding: 0px 14px;
        }
    
        h3#beeda-linkname a {
            font-size: 18px;
        }
}