@media (max-width:1280px) {
    .contact-container {
        max-width: 1280px;
        width: 100%;
        margin: 0 auto;
    }

    .contact-container .contact-banner img {
        max-width: 1280px;
        width: 100%;
        margin: 0px auto;
        padding-top: 81px;
    }

    .contact-container .contact-form-body {
        max-width: 1100px;
        width: 100%;
        margin: 80px auto;
        display: flex;
        justify-content: space-between;
        gap: 20px;
        padding: 10px 50px;
    }

    .contact-container .contact-form-body .contact-form,
    .contact-container .contact-form-body .contact-address {
        max-width: 550px;
        width: 100%;
        margin: 0 auto;
    }

    .contact-container .contact-form-body .contact-form h3,
    .contact-container .contact-form-body .contact-address h3 {
        text-align: start;
        padding: 20px 0px;
        font-size: 30px;
    }

    button.btn.btn-primary {
        margin: 0px 0px 0px 340px;
        border-radius: 20px;
        font-size: 20px;
        font-weight: bold;
    }

    .contact-form-body .contact-address .reg-add .row {
        margin: 20px 0px;
    }

    svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.css-i4bv87-MuiSvgIcon-root {
        font-size: 30px;
        margin: 0px 0px;
    }

    .reg-add .row .col-md-10 p,
    .contact-form .col-form-label {
        font-size: 19px;
    }

    .contact-form .form-control {
        font-size: 20px;
    }
}

@media (max-width:1024px) {
    .contact-container {
        max-width: 1024px;
        width: 100%;
        margin: 0 auto;
    }

    .contact-container .contact-banner img {
        max-width: 1024px;
        width: 100%;
        margin: 0px auto;
        padding-top: 81px;
    }

    .contact-container .contact-form-body {
        max-width: 900px;
        width: 100%;
        margin: 80px auto;
        display: flex;
        justify-content: space-between;
        gap: 20px;
        padding: 10px 50px;
    }

    .contact-container .contact-form-body .contact-form,
    .contact-container .contact-form-body .contact-address {
        max-width: 450px;
        width: 100%;
        margin: 0 auto;
    }

    .reg-add .row .col-md-10 p,
    .contact-form .col-form-label {
        font-size: 18px;
        padding: 0px 0px;
    }

    button.btn.btn-primary {
        margin: 0px 0px 0px 240px;
        border-radius: 30px;
        font-size: 20px;
        font-weight: bold;
    }
}

@media (max-width:768px) {
    .contact-container {
        max-width: 768px;
        width: 100%;
        margin: 0 auto;
    }

    .contact-container .contact-banner img {
        max-width: 768px;
        width: 100%;
        margin: 0px auto;
        padding-top: 61px;
    }

    .contact-container .contact-form-body {
        max-width: 700px;
        width: 100%;
        margin: 30px auto;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 20px;
        padding: 10px 50px;
    }

    button.btn.btn-primary {
        margin: 0px 0px 0px 312px;
        border-radius: 30px;
        font-size: 18px;
        font-weight: bold;
    }
}

@media (max-width:425px) {
    .contact-container {
        max-width: 425px;
        width: 100%;
        margin: 0 auto;
    }

    .contact-container .contact-banner img {
        max-width: 425px;
        width: 100%;
        margin: 0px auto;
        padding-top: 61px;
    }

    .contact-container .contact-form-body {
        max-width: 375px;
        width: 100%;
        margin: 30px auto;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 20px;
        padding: 0px;
    }

    button.btn.btn-primary {
        margin: 0px 0px 0px 237px;
        border-radius: 30px;
        font-size: 18px;
        font-weight: bold;
    }
}

@media (max-width:375px){
    .contact-container {
        max-width: 375px;
        width: 100%;
        margin: 0 auto;
    }

    .contact-container .contact-banner img {
        max-width: 375px;
        width: 100%;
        margin: 0px auto;
        padding-top: 61px;
    }

    .contact-container .contact-form-body {
        max-width: 325px;
        width: 100%;
        margin: 30px auto;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 20px;
        padding: 0px;
    }
    button.btn.btn-primary {
        margin: 0px 0px 0px 187px;
        border-radius: 30px;
        font-size: 18px;
        font-weight: bold;
    }
}

@media (max-width:320px){
    .contact-container {
        max-width: 320px;
        width: 100%;
        margin: 0 auto;
    }

    .contact-container .contact-banner img {
        max-width: 320px;
        width: 100%;
        margin: 0px auto;
        padding-top: 61px;
    }

    .contact-container .contact-form-body {
        max-width: 275px;
        width: 100%;
        margin: 30px auto;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 20px;
        padding: 0px;
    }
    .contact-container .contact-form-body .contact-form h3, .contact-container .contact-form-body .contact-address h3 {
        text-align: start;
        padding: 20px 0px;
        font-size: 25px;
    }
    button.btn.btn-primary {
        margin: 0px 0px 0px 137px;
        border-radius: 30px;
        font-size: 18px;
        font-weight: bold;
    }
}

