@media (max-width:2560px) {
    .contact-container {
        max-width: 2560px;
        width: 100%;
        margin: 0 auto;
    }

    .contact-container .contact-banner img {
        max-width: 2560px;
        width: 100%;
        margin: 0px auto;
        padding-top: 121px;
    }

    .contact-container .contact-form-body {
        max-width: 2200px;
        width: 100%;
        margin: 110px auto;
        display: flex;
        justify-content: space-between;
        gap: 20px;
        padding: 10px 50px;
    }

    .contact-container .contact-form-body .contact-form,
    .contact-container .contact-form-body .contact-address {
        max-width: 1100px;
        width: 100%;
        margin: 0 auto;
    }

    .contact-container .contact-form-body .contact-form h3,
    .contact-container .contact-form-body .contact-address h3 {
        text-align: start;
        padding: 20px 0px;
        font-size: 50px;
    }

    button.btn.btn-primary {
        color: #ffffff;
        letter-spacing: 1px;
        text-transform: uppercase;
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
        height: 100px;
        line-height: 55px !important;
        border-radius: 50px;
        width: 600px;
        margin: 30px 0px 0px 360px;
        font-size: 35px;
    }


    .contact-form-body .contact-address .reg-add .row {
        margin: 20px 0px;
    }

    svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.css-i4bv87-MuiSvgIcon-root {
        font-size: 50px;
        margin: 10px 0px;
    }

    .reg-add .row .col-md-10 p,
    .contact-form .col-form-label {
        font-size: 44px;
    }

    .contact-form .form-control {
        font-size: 45px;
    }
}

@media (max-width:1440px) {
    .contact-container {
        max-width: 1440px;
        width: 100%;
        margin: 0 auto;
    }

    .contact-container .contact-banner img {
        max-width: 1440px;
        width: 100%;
        margin: 0px auto;
        padding-top: 121px;
    }

    .contact-container .contact-form-body {
        max-width: 1280px;
        width: 100%;
        margin: 110px auto;
        display: flex;
        justify-content: space-between;
        gap: 20px;
        padding: 0px;
    }

    .contact-container .contact-form-body .contact-form,
    .contact-container .contact-form-body .contact-address {
        max-width: 640px;
        width: 100%;
        margin: 0 auto;
    }

    .contact-container .contact-form-body .contact-form h3,
    .contact-container .contact-form-body .contact-address h3 {
        text-align: start;
        padding: 20px 0px;
        font-size: 40px;
    }

    .contact-form-body .contact-address .reg-add .row {
        margin: 20px 0px;
    }

    svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.css-i4bv87-MuiSvgIcon-root {
        font-size: 40px;
        margin: 10px 0px;
    }

    .reg-add .row .col-md-10 p,
    .contact-form .col-form-label {
        font-size: 30px;
    }

    .contact-form .form-control {
        font-size: 30px;
    }

    button.btn.btn-primary {
        color: #ffffff;
        letter-spacing: 1px;
        text-transform: uppercase;
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
        height: 55px;
        line-height: 55px !important;
        border-radius: 50px;
        width: 420px;
        margin: 0px 0px 0px 210px;
        font-size: 30px;
    }

}

@media (max-width:1280px) {
    .contact-container {
        max-width: 1280px;
        width: 100%;
        margin: 0 auto;
    }

    .contact-container .contact-banner img {
        max-width: 1280px;
        width: 100%;
        margin: 0px auto;
        padding-top: 121px;
    }

    .contact-container .contact-form-body {
        max-width: 1100px;
        width: 100%;
        margin: 80px auto;
        display: flex;
        justify-content: space-between;
        gap: 20px;
        padding: 10px 50px;
    }

    .contact-container .contact-form-body .contact-form,
    .contact-container .contact-form-body .contact-address {
        max-width: 550px;
        width: 100%;
        margin: 0 auto;
    }

    .contact-container .contact-form-body .contact-form h3,
    .contact-container .contact-form-body .contact-address h3 {
        text-align: start;
        padding: 20px 0px;
        font-size: 30px;
    }

    button.btn.btn-primary {
        color: #ffffff;
        letter-spacing: 1px;
        text-transform: uppercase;
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
        height: 55px;
        line-height: 55px !important;
        border-radius: 50px;
        width: 300px;
        margin: 0px 0px 0px 155px;
        font-size: 27px;
    }

    .contact-form-body .contact-address .reg-add .row {
        margin: 20px 0px;
    }

    svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.css-i4bv87-MuiSvgIcon-root {
        font-size: 30px;
        margin: 0px 0px;
    }

    .reg-add .row .col-md-10 p,
    .contact-form .col-form-label {
        font-size: 19px;
    }

    .contact-form .form-control {
        font-size: 20px;
    }
}

@media (max-width:1024px) {
    .contact-container {
        max-width: 1024px;
        width: 100%;
        margin: 0 auto;
    }

    .contact-container .contact-banner img {
        max-width: 1024px;
        width: 100%;
        margin: 0px auto;
        padding-top: 121px;
    }

    .contact-container .contact-form-body {
        max-width: 900px;
        width: 100%;
        margin: 80px auto;
        display: flex;
        justify-content: space-between;
        gap: 20px;
        padding: 10px 50px;
    }

    .contact-container .contact-form-body .contact-form,
    .contact-container .contact-form-body .contact-address {
        max-width: 450px;
        width: 100%;
        margin: 0 auto;
    }

    .reg-add .row .col-md-10 p,
    .contact-form .col-form-label {
        font-size: 18px;
        padding: 0px 0px;
    }

    button.btn.btn-primary {
        color: #ffffff;
        letter-spacing: 1px;
        text-transform: uppercase;
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
        height: 55px;
        line-height: 55px !important;
        border-radius: 50px;
        width: 300px;
        margin: 0px 0px 0px 155px;
        font-size: 25px;
    }
}

@media (max-width:768px) {
    .contact-container {
        max-width: 768px;
        width: 100%;
        margin: 0 auto;
    }

    .contact-container .contact-banner img {
        max-width: 768px;
        width: 100%;
        margin: 0px auto;
        padding-top: 121px;
    }

    .contact-container .contact-form-body {
        max-width: 700px;
        width: 100%;
        margin: 30px auto;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 20px;
        padding: 10px 50px;
    }

    button.btn.btn-primary {
        color: #ffffff;
        letter-spacing: 1px;
        text-transform: uppercase;
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
        height: 55px;
        line-height: 55px !important;
        border-radius: 50px;
        width: 300px;
        margin: 0px 0px 0px 155px;
        font-size: 20px;
    }
}

@media (max-width:425px) {
    .contact-container {
        max-width: 425px;
        width: 100%;
        margin: 0 auto;
    }

    .contact-container .contact-banner img {
        max-width: 425px;
        width: 100%;
        margin: 0px auto;
        padding-top: 121px;
    }

    .contact-container .contact-form-body {
        max-width: 375px;
        width: 100%;
        margin: 30px auto;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 20px;
        padding: 0px;
    }

    button.btn.btn-primary {
        color: #ffffff;
        letter-spacing: 1px;
        text-transform: uppercase;
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
        height: 55px;
        line-height: 55px !important;
        border-radius: 50px;
        width: 300px;
        margin: 0px 0px;
        font-size: 20px;
    }
}

@media (max-width:375px){
    .contact-container {
        max-width: 375px;
        width: 100%;
        margin: 0 auto;
    }

    .contact-container .contact-banner img {
        max-width: 375px;
        width: 100%;
        margin: 0px auto;
        padding-top: 121px;
    }

    .contact-container .contact-form-body {
        max-width: 325px;
        width: 100%;
        margin: 30px auto;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 20px;
        padding: 0px;
    }
}

@media (max-width:320px){
    .contact-container {
        max-width: 320px;
        width: 100%;
        margin: 0 auto;
    }

    .contact-container .contact-banner img {
        max-width: 320px;
        width: 100%;
        margin: 0px auto;
        padding-top: 121px;
    }

    .contact-container .contact-form-body {
        max-width: 275px;
        width: 100%;
        margin: 30px auto;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 20px;
        padding: 0px;
    }
    .contact-container .contact-form-body .contact-form h3, .contact-container .contact-form-body .contact-address h3 {
        text-align: start;
        padding: 20px 0px;
        font-size: 25px;
    }
    button.btn.btn-primary {
        color: #ffffff;
        letter-spacing: 1px;
        text-transform: uppercase;
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
        height: 55px;
        line-height: 55px !important;
        border-radius: 50px;
        width: 250px;
        margin: 0px 0px;
    }
}

