
@media (max-width:1024px){
        .flower-container {
            max-width: 1024px;
        }
    
        .flower-banner img {
            padding-top: 81px;
            max-width: 1024px;
        }
    
        .flower-container .flower-content {
            max-width: 900px;
        }
    
        .flower-container .flower-content img {
            width: 20%;
            margin: 0px 360px -50px 360px;
        }
    
        .flower-container .flower-content p {
            padding-top: 30px;
            font-size: 20px;
        }
    
        .flower-container .flower-content h1 {
            font-size: 30px;
            margin-bottom: -40px;
        }
    
        .flower-product {
            max-width: 900px;
            margin-bottom: 50px;
        }
    
        .flower-product .swiper {
            width: 100%;
            height: 100%;
        }
    
        .flower-product h3,
        .flower-petals h3,
        .flower-string h3 {
            margin-top: 50px;
            margin-bottom: 50px;
            font-size: 30px;
        }
    
        .flower-img {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(200px, auto));
            gap: 2.5rem;
            margin: 0 auto;
        }
    
        img.flower-pic {
            box-shadow: 0px 0px 13px #808080a6;
            border-radius: 3px;
            width: 243px;
            height: 243px;
        }
    
        .flower-product .flower-img .card {
            height: 293px;
            width: 243px;
        }
    
        .flower-product .flower-img .card .link-name {
            color: #00000091;
            padding: 9px 0px;
            font-size: 25px;
            margin: 0 auto;
        }
    
        .flower-product .flower-img .card .link-name a {
            color: #00000091;
            text-decoration: none;
        }
    
        .container .flower-product {
            max-width: 900px;
            margin-bottom: 50px;
        }
    
        .swiper .flower-swiper {
            max-width: 900px;
        }
    
        .flower-swiper .flower-swiper-slide {
            text-align: center;
            font-size: 18px;
            background: #fff;
            position: relative;
            display: flex;
            justify-content: center;
            gap: 20px;
            align-items: center;
        }
    
        .flower-swiper .swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
            margin: -13px 0px;
        }
    
        .flower-img .flower-swiper .flower-swiper-slide img {
            display: block;
            width: 243px;
            height: 243px;
            object-fit: cover;
    
        }
    
        .swiper .swiper-wrapper .swiper-slide .flower-slide-img {
            height: 243px;
            width: 243px;
            box-shadow: 0px 0px 20px #585757a6;
            border-radius: 5px;
            border: none;
        }
    
        #link-name {
            margin: 0 auto;
            font-size: 25px;
            padding: 10px 0px;
        }
    
        #link-name a {
            text-decoration: none;
            color: #00000091;
            margin: 0 auto;
        }
    
        .container .flower-petals {
            max-width: 900px;
        }
    
        .petals-img,
        .string-img,
        .garland-img {
            display: grid;
            grid-template-columns: repeat(3,1fr);
            gap: 50px;
            padding: 0px 50px;
        }
    
        img.petals-pic,
        img.flower-slide-img {
            height: 243px;
            width: 243px;
        }
}

@media (max-width:768px){
        .flower-container {
            max-width: 768px;
        }
    
        .flower-banner img {
            padding-top: 61px;
            max-width: 768px;
        }
    
        .flower-container .flower-content {
            max-width: 700px;
        }
    
        .flower-container .flower-content img {
            width: 20%;
            margin: 0px 280px -50px 280px;
        }
    
        .flower-container .flower-content p {
            padding-top: 30px;
            font-size: 15px;
        }
    
        .flower-container .flower-content h1 {
            font-size: 25px;
            margin-bottom: -40px;
        }
    
        .flower-product {
            max-width: 700px;
            margin-bottom: 50px;
        }
    
        .flower-product .swiper {
            width: 100%;
            height: 100%;
        }
    
        .flower-product h3,
        .flower-petals h3,
        .flower-string h3 {
            margin-top: 50px;
            margin-bottom: 50px;
            font-size: 25px;
        }
    
        .flower-img {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(200px, auto));
            gap: 2.5rem;
            margin: 0 auto;
        }
    
        img.flower-pic {
            box-shadow: 0px 0px 13px #808080a6;
            border-radius: 3px;
            width: 243px;
            height: 243px;
        }
    
        .flower-product .flower-img .card {
            height: 293px;
            width: 243px;
        }
    
        .flower-product .flower-img .card .link-name {
            color: #00000091;
            padding: 9px 0px;
            font-size: 25px;
            margin: 0 auto;
        }
    
        .flower-product .flower-img .card .link-name a {
            color: #00000091;
            text-decoration: none;
        }
    
        .container .flower-product {
            max-width: 700px;
            margin-bottom: 50px;
        }
    
        .swiper .flower-swiper {
            max-width: 700px;
        }
    
        .flower-swiper .flower-swiper-slide {
            text-align: center;
            font-size: 18px;
            background: #fff;
            position: relative;
            display: flex;
            justify-content: center;
            gap: 20px;
            align-items: center;
        }
    
        .flower-swiper .swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
            margin: -13px 0px;
        }
    
        .flower-img .flower-swiper .flower-swiper-slide img {
            display: block;
            width: 243px;
            height: 243px;
            object-fit: cover;
    
        }
    
        .swiper .swiper-wrapper .swiper-slide .flower-slide-img {
            height: 243px;
            width: 243px;
            box-shadow: 0px 0px 20px #585757a6;
            border-radius: 5px;
            border: none;
        }
    
        #link-name {
            margin: 0 auto;
            font-size: 25px;
            padding: 10px 0px;
        }
    
        #link-name a {
            text-decoration: none;
            color: #00000091;
            margin: 0 auto;
        }
    
        .container .flower-petals {
            max-width: 700px;
        }
    
        .petals-img,
        .string-img,
        .garland-img {
            display: grid;
            grid-template-columns: repeat(2,1fr);
            gap: 50px;
            padding: 0px 80px;
        }
    
        img.petals-pic,
        img.flower-slide-img {
            height: 243px;
            width: 243px;
        }
}

@media (max-width:425px){
        .flower-container {
            max-width: 425px;
        }
    
        .flower-banner img {
            padding-top: 61px;
            max-width: 425px;
        }
    
        .flower-container .flower-content {
            max-width: 375px;
        }
    
        .flower-container .flower-content img {
            width: 30%;
            margin: 0px 130px -50px 130px;
        }
    
        .flower-container .flower-content p {
            padding-top: 30px;
            font-size: 13px;
        }
    
        .flower-container .flower-content h1 {
            font-size: 20px;
            margin-bottom: -40px;
        }
    
        .flower-product {
            max-width: 375px;
            margin-bottom: 50px;
        }
    
        .flower-product .swiper {
            width: 100%;
            height: 100%;
        }
    
        .flower-product h3,
        .flower-petals h3,
        .flower-string h3 {
            margin-top: 50px;
            margin-bottom: 50px;
            font-size: 25px;
        }
    
        .flower-img {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(200px, auto));
            gap: 2.5rem;
            margin: 0 auto;
        }
        .flower-product .flower-img .card .link-name {
            font-size: 20px;
        }
    
        .container .flower-product {
            max-width: 375px;
            margin-bottom: 50px;
        }
    
        .swiper .flower-swiper {
            max-width: 375px;
        }
    
        .flower-swiper .flower-swiper-slide {
            text-align: center;
            font-size: 18px;
            background: #fff;
            position: relative;
            display: flex;
            justify-content: center;
            gap: 20px;
            align-items: center;
        }
    
        #link-name {
            margin: 0 auto;
            font-size: 20px;
            padding: 10px 0px;
        }
    
        #link-name a {
            text-decoration: none;
            color: #00000091;
            margin: 0 auto;
        }
    
        .container .flower-petals {
            max-width: 375px;
        }
    
        .petals-img,
        .string-img,
        .garland-img {
            display: grid;
            grid-template-columns: repeat(1,1fr);
            gap: 50px;
            padding: 0px 65px;
        }
}

@media (max-width:375px){
        .flower-container {
            max-width: 375px;
        }
    
        .flower-banner img {
            padding-top: 61px;
            max-width: 375px;
        }
    
        .flower-container .flower-content {
            max-width: 320px;
        }
    
        .flower-container .flower-content img {
            width: 30%;
            margin: 0px 112px -50px 112px;
        }
    
        .flower-container .flower-content p {
            padding-top: 30px;
            font-size: 13px;
        }
    
        .flower-container .flower-content h1 {
            font-size: 18px;
            margin-bottom: -40px;
        }
    
        .flower-product {
            max-width: 320px;
            margin-bottom: 50px;
        }
    
        .flower-product .swiper {
            width: 100%;
            height: 100%;
        }
    
        .flower-product h3,
        .flower-petals h3,
        .flower-string h3 {
            margin-top: 50px;
            margin-bottom: 50px;
            font-size: 20px;
        }
    
        .flower-img {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(200px, auto));
            gap: 2.5rem;
            margin: 0 auto;
        }
        .flower-product .flower-img .card .link-name {
            font-size: 20px;
        }
    
        .container .flower-product {
            max-width: 320px;
            margin-bottom: 50px;
        }
    
        .swiper .flower-swiper {
            max-width: 320px;
        }
    
        .flower-swiper .flower-swiper-slide {
            text-align: center;
            font-size: 18px;
            background: #fff;
            position: relative;
            display: flex;
            justify-content: center;
            gap: 20px;
            align-items: center;
        }
    
        #link-name {
            margin: 0 auto;
            font-size: 20px;
            padding: 10px 0px;
        }
    
        #link-name a {
            text-decoration: none;
            color: #00000091;
            margin: 0 auto;
        }
    
        .container .flower-petals {
            max-width: 320px;
        }
    
        .petals-img,
        .string-img,
        .garland-img {
            display: grid;
            grid-template-columns: repeat(1,1fr);
            gap: 50px;
            padding: 0px 40px;
        }
}

@media (max-width:320px){
        .flower-container {
            max-width: 320px;
        }
    
        .flower-banner img {
            padding-top: 61px;
            max-width: 320px;
        }
    
        .flower-container .flower-content {
            max-width: 280px;
        }
    
        .flower-container .flower-content img {
            width: 30%;
            margin: 0px 98px -50px 98px;
        }
    
        .flower-container .flower-content p {
            padding-top: 30px;
            font-size: 13px;
        }
    
        .flower-container .flower-content h1 {
            font-size: 18px;
            margin-bottom: -40px;
        }
    
        .flower-product {
            max-width: 280px;
            margin-bottom: 50px;
        }
    
        .flower-product .swiper {
            width: 100%;
            height: 100%;
        }
    
        .flower-product h3,
        .flower-petals h3,
        .flower-string h3 {
            margin-top: 50px;
            margin-bottom: 50px;
            font-size: 20px;
        }
    
        .flower-img {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(200px, auto));
            gap: 2.5rem;
            margin: 0 auto;
        }
        .flower-product .flower-img .card .link-name {
            font-size: 20px;
        }
    
        .container .flower-product {
            max-width: 280px;
            margin-bottom: 50px;
        }
    
        .swiper .flower-swiper {
            max-width: 280px;
        }
    
        .flower-swiper .flower-swiper-slide {
            text-align: center;
            font-size: 18px;
            background: #fff;
            position: relative;
            display: flex;
            justify-content: center;
            gap: 20px;
            align-items: center;
        }
    
        #link-name {
            margin: 0 auto;
            font-size: 20px;
            padding: 10px 0px;
        }
    
        #link-name a {
            text-decoration: none;
            color: #00000091;
            margin: 0 auto;
        }
    
        .container .flower-petals {
            max-width: 280px;
        }
    
        .petals-img,
        .string-img,
        .garland-img {
            display: grid;
            grid-template-columns: repeat(1,1fr);
            gap: 50px;
            padding: 0px 18px;
        }
}