
@media (max-width:1024px){
    .pooja {
        max-width: 1024px;
        width: 100%;
        margin: 0 auto;
    }

    .pooja-banner {
        background-image: ('../images/pooja/pooja-product-banner.jpg');
        background-size: cover;
        padding: 140px 0px;
        margin: 81px 0px 0px 0px;
        position: relative;
    }

    .pooja-main-container {
        max-width: 900px;
        width: 100%;
        margin: 0 auto;
    }

    .pooja-logo-content img {
        width: 20%;
        margin: 0px 360px -30px 360px;
    }
    .pooja-logo-content h4 {
        text-align: center;
        color: green;
        font-size: 30px;
    }

    .pooja-logo-content p {
        text-align: justify;
        font-size: 20px;
    }

    .brass-swiper h2,
    .brass-swiper1 h2,
    .Agricultural-and-natural h2,
    .Spiritual-and-religious h2,
    .Medical-and-herbal h2 {
        padding: 0px;
        font-size: 30px;
    }
    .pooja-swiper-slide .card{
        height:293px;
        width:243px;
    }
    .pooja-swiper-slide .card .pooja-slide-img{
        height: 243px;
        width: 243px;
    }
    .swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
        margin-bottom: -13px;
    }
}

@media (max-width:768px){
    .pooja {
        max-width: 768px;
        width: 100%;
        margin: 0 auto;
    }

    .pooja-banner {
        background-image: ('../images/pooja/pooja-product-banner.jpg');
        background-size: cover;
        padding: 105px 0px;
        margin: 61px 0px 0px 0px;
        position: relative;
    }

    .pooja-main-container {
        max-width: 700px;
        width: 100%;
        margin: 0 auto;
    }

    .pooja-logo-content img {
        width: 20%;
        margin: 0px 280px -30px 280px;
    }
    .pooja-logo-content h4 {
        text-align: center;
        color: green;
        font-size: 25px;
    }

    .pooja-logo-content p {
        text-align: justify;
        font-size: 18px;
    }

    .brass-swiper h2,
    .brass-swiper1 h2,
    .Agricultural-and-natural h2,
    .Spiritual-and-religious h2,
    .Medical-and-herbal h2 {
        padding: 0px;
        font-size: 25px;
    }
    .pooja-swiper-slide .card{
        height:293px;
        width:243px;
    }
    .pooja-swiper-slide .card .pooja-slide-img{
        height: 243px;
        width: 243px;
    }
    .swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
        margin-bottom: -13px;
    }
    .brass-swiper1,.Spiritual-and-religious,.Agricultural-and-natural {
        width: 100%;
        margin: 50px 0px;
        padding: 10px 0px;
    }
}

@media (max-width:425px){
    .pooja {
        max-width: 425px;
        width: 100%;
        margin: 0 auto;
    }

    .pooja-banner {
        background-image: ('../images/pooja/pooja-product-banner.jpg');
        background-size: cover;
        padding: 58px 0px;
        margin: 61px 0px 0px 0px;
        position: relative;
    }

    .pooja-main-container {
        max-width: 375px;
        width: 100%;
        margin: 0 auto;
    }

    .pooja-logo-content img {
        width: 40%;
        margin: 0px 112px -30px 112px;
    }
    .pooja-logo-content h4 {
        text-align: center;
        color: green;
        font-size: 20px;
    }
    .pooja-logo-content h1 {
        color: green;
        text-align: center;
        margin: -30px 0px 0px 0px;
    }
    .pooja-logo-content p {
        text-align: justify;
        font-size: 15px;
    }
    .brass-swiper {
        width: 100%;
        margin: 0 auto;
    }
    .brass-swiper h2,
    .brass-swiper1 h2,
    .Agricultural-and-natural h2,
    .Spiritual-and-religious h2,
    .Medical-and-herbal h2 {
        padding: 0px;
        font-size: 20px;
    }
    .pooja-swiper-slide .card{
        height:293px;
        width:243px;
    }
    .pooja-swiper-slide .card .pooja-slide-img{
        height: 243px;
        width: 243px;
    }
    .swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
        margin-bottom: -13px;
    }
    .pooja-img,.pooja-img-spiritual,.pooja-img-Medical,.pooja-img-Agricultural {
        padding: 20px 0px;
        margin: 0px 65px;
    }
}

@media (max-width:375px){
    .pooja {
        max-width: 375px;
        width: 100%;
        margin: 0 auto;
    }

    .pooja-banner {
        background-image: ('../images/pooja/pooja-product-banner.jpg');
        background-size: cover;
        padding: 51px 0px;
        margin: 61px 0px 0px 0px;
        position: relative;
    }

    .pooja-main-container {
        max-width: 325px;
        width: 100%;
        margin: 0 auto;
    }

    .pooja-logo-content img {
        width: 40%;
        margin: 0px 97px -30px 97px;
    }
    .pooja-logo-content h4 {
        text-align: center;
        color: green;
        font-size: 20px;
    }
    .pooja-logo-content h1 {
        color: green;
        text-align: center;
        margin: -30px 0px 0px 0px;
    }
    .pooja-logo-content p {
        text-align: justify;
        font-size: 15px;
    }
    .brass-swiper {
        width: 100%;
        margin: 0 auto;
    }
    .brass-swiper h2,
    .brass-swiper1 h2,
    .Agricultural-and-natural h2,
    .Spiritual-and-religious h2,
    .Medical-and-herbal h2 {
        padding: 0px;
        font-size: 20px;
    }
    .pooja-swiper-slide .card{
        height:293px;
        width:243px;
    }
    .pooja-swiper-slide .card .pooja-slide-img{
        height: 243px;
        width: 243px;
    }
    .swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
        margin-bottom: -13px;
    }
    .pooja-img,.pooja-img-spiritual,.pooja-img-Medical,.pooja-img-Agricultural {
        padding: 20px 0px;
        margin: 0px 40px;
    }
}

@media (max-width:320px){
    .pooja {
        max-width: 320px;
        width: 100%;
        margin: 0 auto;
    }

    .pooja-banner {
        background-image: ('../images/pooja/pooja-product-banner.jpg');
        background-size: cover;
        padding: 43px 0px;
        margin: 61px 0px 0px 0px;
        position: relative;
    }

    .pooja-main-container {
        max-width: 280px;
        width: 100%;
        margin: 0 auto;
    }

    .pooja-logo-content img {
        width: 40%;
        margin: 0px 84px -20px 84px;
    }
    .pooja-logo-content h4 {
        text-align: center;
        color: green;
        font-size: 20px;
    }
    .pooja-logo-content h1 {
        color: green;
        text-align: center;
        margin: -30px 0px 0px 0px;
    }
    .pooja-logo-content p {
        text-align: justify;
        font-size: 15px;
    }
    .brass-swiper {
        width: 100%;
        margin: 0 auto;
    }
    .brass-swiper h2,
    .brass-swiper1 h2,
    .Agricultural-and-natural h2,
    .Spiritual-and-religious h2,
    .Medical-and-herbal h2 {
        padding: 0px;
        font-size: 20px;
    }
    .pooja-swiper-slide .card{
        height:293px;
        width:243px;
    }
    .pooja-swiper-slide .card .pooja-slide-img{
        height: 243px;
        width: 243px;
    }
    .swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
        margin-bottom: -13px;
    }
    .pooja-img,.pooja-img-spiritual,.pooja-img-Medical,.pooja-img-Agricultural {
        padding: 20px 0px;
        margin: 0px 18px;
    }
}
