@media (max-width:2560px){
    .pooja-page-container {
        max-width: 2200px;
        width: 100%;
        margin: 150px auto;
    }
    .pooja-subpage-img {
        height: 597px;
        width: auto;
        border-radius: 30px;
        margin: -54px -517px;
    }
    .pooja-item-list {
        display: flex;
        gap: 0%;
        justify-content: space-evenly;
        color: #808080;
        margin: 211px 0px;
    }
    #pooja-banner-content h2 {
        /* text-align: -webkit-left; */
        /* padding: 20px 48px; */
        font-size: 71px;
        margin: -48px -559px 0px 113px;
    }
    #pooja-banner-content p {
        text-align: justify;
        line-height: inherit;
        margin: 20px -492px 0px 511px;
        font-size: 29px;
    } 
    h1.pooja-kit-heading {
        margin: -185px -494px;
        font-size: 60px;
    }
    .pooja-samagari h1 {
        font-size: 37px;
        padding: 1px 9px;
    }
    .pooja-poornahuthi h1 {
        font-size: 37px;
        padding: 1px 25px;
    }
    .pooja-powder h1 {
        font-size: 37px;
        padding: 0px 39px;
    }
    .pooja-samagari ul li {
        font-size: 30px;
    }
    .pooja-poornahuthi ul li {
        font-size: 30px;
    }
    .pooja-item-list-2 {
        display: flex;
        gap: 0%;
        justify-content: space-evenly;
        color: #808080;
        margin: -285px -351px;
        height: 204px;
    }

    .pooja-Dry-Fruits h1 {
        font-size: 37px;
        padding: 1px 60px;
    }
    .pooja-Vasthram h1 {
        font-size: 37px;
        padding: 1px 60px;
    }
    .pooja-powder ul li {
        font-size: 30px;
    }
    .pooja-Dry-Fruits ul li {
        font-size: 25px;
    }
    .pooja-Vasthram ul li {
        font-size: 25px;
    } 
    #pooja-banner-content-kalash h2 {
        text-align: left;
        margin: -61px -60px 0px 382px;
        font-size: 58px;
    }

    #pooja-banner-content-kalash p {
        text-align: justify;
        line-height: inherit;
        margin: -11px -278px 0px 514px;
        font-size: 30px;
    }
    .brass-type-table .brass-table-heading h3 {
        padding-top: 57px 54px;
        margin: 236px 95px 50px 95px;
        text-align: center;
        font-size: 57px;
    }
    table.table.table-hover.table-responsive.table-bordered {
        width: 80%;
        margin: 45px auto;
    }
}
@media (max-width:1440px){
    .pooja-page-container {
        max-width: 1440px;
        width: 100%;
        margin: 150px auto;
    }
    .pooja-subpage-img {
        height: 371px;
        width: auto;
        border-radius: 30px;
        margin: -103px -70px;
    }
    #pooja-banner-content h2 {
        /* text-align: -webkit-left; */
        /* padding: 20px 48px; */
        font-size: 38px;
        margin: -140px -69px 0px 113px;
    }

    #pooja-banner-content p {
        text-align: justify;
        line-height: inherit;
        margin: -21px -89px 0px 109px;
        font-size: 18px;
    }

    h1.pooja-kit-heading {
        margin: -147px -69px;
        font-size: 28px;
    }
    .pooja-powder h1 {
        font-size: 28px;
        padding: 0px 39px;
}
    .pooja-samagari h1 {
        font-size: 25px;
        padding: 7px 9px;
    }
    .pooja-Dry-Fruits h1 {
        font-size: 23px;
        padding: 1px 60px;
    }
    .pooja-samagari ul li {
        font-size: 18px;
        /* margin: -2px 2px; */
    }
    .pooja-Dry-Fruits ul li {
        font-size: 18px;
        /* margin: -2px 2px; */
    }
    .pooja-Vasthram h1{
        font-size: 23px;
        padding: 1px 60px;
    }
    .pooja-Vasthram ul li {
        font-size: 18px;
        /* margin: -2px 2px; */
    }
    .pooja-item-list-2 {
        display: flex;
        gap: 0%;
        row-gap: 0%;
        column-gap: 0%;
        justify-content: space-evenly;
        color: #808080;
        margin: -216px 2px;
        height: 362px;
    }
    .pooja-powder ul li {
        font-size: 19px;
    }
    .pooja-poornahuthi ul li {
        font-size: 18px;
    }
    .pooja-poornahuthi h1 {
        font-size: 28px;
        padding: 3px 25px;
    }
    #pooja-banner-content-kalash h2 {
        text-align: left;
        margin: -168px -60px 0px 42px;
        font-size: 32px;
    }
    #pooja-banner-content-kalash p {
        text-align: justify;
        line-height: inherit;
        margin: -36px 50px 0px 141px;
        font-size: 18px;
    }
    .brass-type-table .brass-table-heading h3 {
        padding-top: 57px 54px;
        margin: 174px 95px 50px 95px;
        text-align: center;
        font-size: 29px;
    }
    table.table.table-hover.table-responsive.table-bordered {
        width: 80%;
        margin: 45px auto;
    }
    .pooja-subpage-img {
        height: 306px;
        width: auto;
        border-radius: 30px;
        margin: -103px -70px;
    }
}
@media (max-width:1280px){
    .pooja-subpage-img {
        height: 250px;
        width: auto;
        border-radius: 30px;
        margin: -207px 16px;
    }
    #pooja-banner-content h2 {
        font-size: 25px;
        margin: -136px -69px 0px -142px;
    }
    #pooja-banner-content p {
        text-align: justify;
        line-height: inherit;
        margin: -18px 9px 0px 3px;
        font-size: 16px;
    }
    h1.pooja-kit-heading {
        margin: -210px 18px;
        font-size: 24px;
    }
    .pooja-samagari h1 {
        font-size: 25px;
        padding: -3px 106px;
    }
    .pooja-item-list {
        display: flex;
        gap: 0%;
        justify-content: space-evenly;
        color: #808080;
        margin: 190px 2px;
    }
    #pooja-banner-content-kalash h2 {
        text-align: left;
        margin: -168px -60px 0px -26px;
        font-size: 27px;
    }
    #pooja-banner-content-kalash p {
        text-align: justify;
        line-height: inherit;
        margin: -36px 50px 0px 11px;
        font-size: 16px;
    }
    .brass-type-table .brass-table-heading h3 {
        padding-top: 57px 54px;
        margin: 153px 95px 50px 95px;
        text-align: center;
        font-size: 29px;
    }
    table.table.table-hover.table-responsive.table-bordered {
        width: 80%;
        margin: 45px auto;
    }
}
@media (max-width:768px){
    .pooja-page-container {
        max-width: 768px;
        width: 100%;
        margin: 150px auto;
    }
    .pooja-subpage-container {
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 40px;
        margin: 0px -70px;
    }

    .pooja-subpage-img {
        height: 249px;
        width: auto;
        border-radius: 30px;
        margin: 0px 230px;
        margin-top: -185px;
    }
    #pooja-banner-content h2 {
        font-size: 25px;
        margin: 42px -64px 0px -13px;
    }
    #pooja-banner-content p {
        text-align: justify;
        line-height: inherit;
        margin: -18px 74px 0px 147px;
        font-size: 16px;
    }
    h1.pooja-kit-heading {
        margin: -213px 75px;
        font-size: 21px;
    }
    .pooja-samagari h1 {
        font-size: 17px;
        padding: -2px 168px;
        margin: 1px -39px 0px 87px;
    }
    .pooja-samagari ul li {
        font-size: 11px;
        margin: 3px -4px 0px 91px;
    }
    .pooja-powder h1 {
        font-size: 17px;
        padding: -2px 168px;
        margin: 9px -47px 0px -20px;
    }
    .pooja-powder ul li {
        font-size: 11px;
        margin: 4px -2px 0px 66px;
    }
    .pooja-poornahuthi h1 {
        font-size: 17px;
        padding: 9px 47px;
    }
    .pooja-poornahuthi ul li {
        font-size: 12px;
        margin: 0px 2px 0px 29px;
    }
    .pooja-Dry-Fruits h1 {
        font-size: 17px;
        padding: 1px 191px;
    }
    .pooja-Dry-Fruits ul li {
        font-size: 12px;
        margin: -1px 153px;
    }
    .pooja-Vasthram h1 {
        font-size: 17px;
        margin: 1px 0px 0px -131px;
    }
    .pooja-Vasthram ul li {
        font-size: 11px;
        margin: 0px 0px 0px -103px;
    }
    .pooja-subpage-img {
        height: 249px;
        width: auto;
        border-radius: 30px;
        margin: 39px 0px 0px 276px;
        margin-top: -184px;
    }
    #pooja-banner-content-kalash h2 {
        text-align: left;
        margin: -79px -60px 0px 188px;
        font-size: 23px;
    }
    #pooja-banner-content-kalash p {
        text-align: justify;
        line-height: inherit;
        margin: -34px 6px 0px 179px;
        font-size: 15px;
    }
    .brass-type-table .brass-table-heading h3 {
        padding-top: 57px 54px;
        margin: -78px 95px 50px 95px;
        text-align: center;
        font-size: 22px;
    }
    table.table.table-hover.table-responsive.table-bordered {
        max-width: 900px;
        width: 100%;
        margin: 45px auto !important;
        border-color: #ff000066 !important;
    }
    table.table.table-hover.table-responsive.table-bordered th {
        padding: 15px 20px !important;
        text-align: justify;
    }
}
@media (max-width:425px){
    .pooja-subpage-container {
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 40px;
        margin: 0px -183px;
    }
    .pooja-subpage-img {
        height: 195px;
        width: auto;
        border-radius: 30px;
        margin: -450px 0px 0px 239px;
        margin-top: -247px;
    }

    #pooja-banner-content h2 {
        font-size: 21px;
        margin: -85px -185px 0px 160px;
    }
    #pooja-banner-content p {
        text-align: justify;
        line-height: inherit;
        margin: -18px -125px 0px 227px;
        font-size: 13px;
    }

    .pooja-item-list {
        display: flex;
        gap: 0%;
        justify-content: space-evenly;
        color: #808080;
        margin: 228px 54px;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .pooja-item-list-2 {
        display: flex;
        gap: -1%;
        row-gap: -21%;
        column-gap: -6%;
        justify-content: space-evenly;
        color: #808080;
        margin: -262px 35px 6px -84px;
        height: 284px;
        flex-wrap: wrap;
    }

    h1.pooja-kit-heading {
        margin: -255px 44px;
        font-size: 19px;
    }
    .pooja-Vasthram ul li {
        font-size: 11px;
        margin: 1px 0px 0px -2px;
    }

    .pooja-Vasthram h1 {
        font-size: 17px;
        margin: 1px 0px 0px -45px;
    }
    #pooja-banner-content-kalash h2 {
        text-align: center;
        margin: -127px -75px 0px 208px;
        font-size: 19px;
    }
    #pooja-banner-content-kalash p {
        text-align: justify;
        line-height: inherit;
        margin: -57px -54px 0px 227px;
        font-size: 13px;
    }

}
@media (max-width:375px){
    .pooja-Dry-Fruits h1 {
        font-size: 17px;
        padding: 1px 171px;
    }
    .pooja-item-list-2 {
        display: flex;
        gap: -1%;
        row-gap: -21%;
        column-gap: -6%;
        justify-content: space-evenly;
        color: #808080;
        margin: -267px 0px 6px -89px;
        height: 83px;
        flex-wrap: wrap;
    }
    .pooja-samagari h1 {
        font-size: 17px;
        padding: -2px 168px;
        margin: 1px -18px 0px 12px;
    }
    .pooja-samagari ul li {
        font-size: 11px;
        margin: 3px -8px 0px 10px;
    }
    .pooja-powder ul li {
        font-size: 11px;
        margin: 4px -2px 0px 10px;
    }
    #pooja-banner-content-kalash h2 {
        text-align: center;
        margin: -129px -68px 0px 199px;
        font-size: 16px;
    }

    #pooja-banner-content-kalash p {
        text-align: justify;
        line-height: inherit;
        margin: -56px -35px 0px 222px;
        font-size: 13px;
    }
    .pooja-subpage-img {
        height: 195px;
        width: auto;
        border-radius: 30px;
        margin: -450px 0px 0px 224px;
        margin-top: -247px;
    }

}
@media (max-width:320px){
    .pooja-subpage-img {
        height: 173px;
        width: auto;
        border-radius: 30px;
        margin: -468px 0px 0px 223px;
        margin-top: -269px;
    }
    #pooja-banner-content h2 {
        font-size: 17px;
        margin: -114px -185px 0px 176px;
    }
    #pooja-banner-content p {
        text-align: justify;
        line-height: inherit;
        margin: -18px -141px 0px 219px;
        font-size: 10px;
    }
    h1.pooja-kit-heading {
        margin: -261px 36px;
        font-size: 15px;
    }
    .pooja-samagari h1 {
        font-size: 15px;
        padding: -2px 168px;
        margin: 5px -18px 0px 12px;
    }
    .pooja-samagari ul li {
        font-size: 10px;
        margin: 0px -8px 0px 10px;
    }
    .pooja-powder h1 {
        font-size: 15px;
        padding: -2px 168px;
        margin: -6px -47px 0px -42px;
    }
    .pooja-poornahuthi h1 {
        font-size: 13px;
        margin: -8px -17px;
    }
    .pooja-poornahuthi ul li {
        font-size: 10px;
        margin: 2px 2px 0px 8px;
    }
    .pooja-Dry-Fruits h1 {
        font-size: 13px;
        padding: 1px 171px;
    }
    .pooja-Dry-Fruits ul li {
        font-size: 10px;
        margin: 0px 0px 0px 149px;
    }
    .pooja-Vasthram h1 {
        font-size: 13px;
        margin: 1px 0px 0px 10px;
    }
    .pooja-Vasthram ul li {
        font-size: 11px;
        margin: 1px 0px 0px 43px;
    }
    #pooja-banner-content-kalash h2 {
        text-align: center;
        margin: -129px -68px 0px 162px;
        font-size: 16px;
    }
    .pooja-subpage-img {
        height: 159px;
        width: auto;
        border-radius: 30px;
        margin: -463px 0px 0px 221px;
        margin-top: -269px;
    }
    #pooja-banner-content-kalash h2 {
        text-align: center;
        margin: -161px -94px 0px 179px;
        font-size: 19px;
    }
    #pooja-banner-content-kalash p {
        text-align: justify;
        line-height: inherit;
        margin: -56px -45px 0px 218px;
        font-size: 12px;
    }
    .brass-type-table .brass-table-heading h3 {
        padding-top: 57px 54px;
        margin: -88px 95px;
        text-align: center;
        font-size: 19px;
    }
    table.table.table-hover.table-responsive.table-bordered th {
        padding: 14px 25px;
        text-align: justify;
        font-size: 12px;
    }
}