@media (max-width:1280px) {
  .rice-main-container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
  }

  .rice-main-container .rice-banner {
    margin-top: 81px;
    width: 100%;
  }

  .rice-container {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
  }

  .rice-icon .rice-body-icon {
    margin: 0px 450px -40px 450px;
    width: 200px;
}

  .rice-container h2.rice-body-heading {
    text-align: center;
    color: Green;
    font-size: 30px;
  }

  .rice-container p {
    text-align: justify;
    font-size: 15px;
  }

  .rice-container .rice-sub-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 25px 0px;
    gap: 45px;
  }

  .rice-container .rice-sub-container .card img.rice-pic {
    height: 243px;
    width: 243px;
    box-shadow: 0px 0px 13px #808080a6;
    border-radius: 3px;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  }

  .rice-container .rice-sub-container .card #rice-link-name {
    margin: 0 auto;
    font-size: 20px;
    padding: 10px 0px;
  }

  .rice-container .rice-sub-container .card #rice-link-name a {
    text-decoration: none;
    color: #00000091;
  }

  .rice-container .rice-sub-container .card {
    height: 293px;
    width: 243px;
  }

}

@media (max-width:1024px){
    .rice-main-container {
      max-width: 1024px;
      width: 100%;
      margin: 0 auto;
    }
  
    .rice-main-container .rice-banner {
      margin-top: 81px;
      width: 100%;
    }
    .rice-container {
      width: 100%;
      max-width: 900px;
      margin: 0 auto;
    }
  
    .rice-icon .rice-body-icon {
      margin: 0px 360px -30px 360px;
      width: 20%;
  }
  
    .rice-container h2.rice-body-heading {
      font-size: 20px;
    }
  
    .rice-container p {
      text-align: justify;
      font-size: 15px;
      margin: 0px 10px 10px 10px;
    }
  
    .rice-container .rice-sub-container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      margin: 0px 35px;
      gap: 50px;
  }
  
    .rice-container .rice-sub-container .card #rice-link-name {
      margin: 0 auto;
      font-size: 18px;
    }
}
@media (max-width:768px) {
  .rice-main-container {
    max-width: 768px;
    width: 100%;
    margin: 0 auto;
  }

  .rice-main-container .rice-banner {
    margin-top: 61px;
    width: 100%;
  }

  .rice-container {
    width: 100%;
    max-width: 768px;
    margin: 0px 0px;
  }

  .rice-icon .rice-body-icon {
    margin: 0px 304px -40px 304px;
    width: 20%;
}

  .rice-container h2.rice-body-heading {
    font-size: 20px;
  }

  .rice-container p {
    text-align: justify;
    font-size: 15px;
    margin: 0px 10px 10px 10px;
  }

  .rice-container .rice-sub-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0px 114px;
    gap: 50px;
}

  .rice-container .rice-sub-container .card #rice-link-name {
    margin: 0 auto;
    font-size: 18px;
  }
}

@media (max-width:425px) {
  .rice-main-container {
    max-width: 425px;
    width: 100%;
    margin: 0 auto;
  }

  .rice-main-container .rice-banner {
    margin-top: 61px;
    width: 100%;
  }

  .rice-container {
    width: 100%;
    margin: 0 auto;
    max-width: 375px;
  }

  .rice-icon .rice-body-icon {
    margin: 0px 130px -25px 130px;
    width: 30%;
}

  .rice-container h2.rice-body-heading {
    font-size: 14px;
  }

  .rice-container p {
    text-align: justify;
    font-size: 10px;
    margin: 0px 10px 10px 10px;
  }

  .rice-container .rice-sub-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px 0px;
    max-width: 375px;
    margin: 0px 0px;
}

  .rice-container .rice-sub-container .card {
    height: 200px;
    width: 180px;
  }

  .rice-container .rice-sub-container .card img.rice-pic {
    width: 180px;
    height: 200px;
    box-shadow: 0px 0px 13px #808080a6;
    border-radius: 3px;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  }

  .rice-container .rice-sub-container .card #rice-link-name {
    margin: 0 auto;
    font-size: 15px;
  }
}

@media (max-width:375px) {
  .rice-main-container {
    max-width: 375px;
    width: 100%;
    margin: 0 auto;
  }

  .rice-main-container .rice-banner {
    margin-top: 61px;
    width: 100%;
  }

  .rice-container {
    width: 100%;
    margin: 0 auto;
    max-width: 320px;
  }

  .rice-icon .rice-body-icon {
    margin: 0px 110px -20px 110px;
    width: 90px;
}

  .rice-container h2.rice-body-heading {
    font-size: 12px;
  }

  .rice-container p {
    text-align: justify;
    font-size: 8px;
    padding: 0px 0px;
    margin: 0px 0px 0px 0px;
}

.rice-container .rice-sub-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin: 0px 38px;
  gap: 40px 0px;
  max-width: 320px;
}
.rice-container .rice-sub-container .card {
  height: 293px;
  width: 243px;
}
.rice-container .rice-sub-container .card img.rice-pic {
  height: 243px;
  width: 243px;
  box-shadow: 0px 0px 13px #808080a6;
  border-radius: 3px;
  grid-template-columns: repeat(auto-fit, minmax(200px, auto));
}
}

@media (max-width:320px) {
  .rice-main-container {
    max-width: 320px;
    width: 100%;
    margin: 0 auto;
  }

  .rice-main-container .rice-banner {
    margin-top: 61px;
    width: 100%;
  }

  .rice-container {
    width: 100%;
    margin: 0 auto;
    max-width: 280px;
  }

  .rice-icon .rice-body-icon {
    margin: 0px 103px -15px 103px;
    width: 70px;
  }

  .rice-container h2.rice-body-heading {
    font-size: 9px;
  }

  .rice-container p {
    text-align: justify;
    font-size: 6px;
    margin: 0px 0px;
  }

  .rice-container .rice-sub-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: 0px 18px;
    gap: 40px 0px;
}
}