
@media (max-width:1024px){
        .snackspage-main-container {
            max-width: 900px;
            width: 100%;
            margin: 150px auto;
        }
        
        .snackspage-main-container .snackspage-container {
            display: flex;
            justify-content: space-between;
            gap: 40px;
        }
        
        .snackspage-main-container .snackspage-container .snackspage-banner img {
            height: 450px;
            width: 450px;
            border-radius: 30px;
        }
        
        .snackspage-main-container .snackspage-container .snackspage-content h2 {
            text-align: center;
            padding: 5px 0px;
            font-size: 28px;
        }
        .snackspage-type-table .snackspage-table-heading h2{
            font-size: 28px;
        }
        
        .snackspage-main-container .snackspage-container .snackspage-content p {
            text-align: justify;
            font-size: 15px;
        }
}

@media (max-width:768px){
        .snackspage-main-container {
            max-width: 700px;
            width: 100%;
            margin: 100px auto;
        }
        
        .snackspage-main-container .snackspage-container {
            flex-wrap: wrap;
            justify-content: space-between;
            gap: 40px;
        }
        
        .snackspage-main-container .snackspage-container .snackspage-banner img {
            height: 400px;
            width: 600px;
            border-radius: 30px;
            margin: 0px 50px;
        }
        .snackspage-main-container .snackspage-container .snackspage-content h2 {
            text-align: center;
            padding: 5px 0px;
            font-size: 25px;
        }
        .snackspage-type-table .snackspage-table-heading h2{
            font-size: 25px;
        }
        
        .snackspage-main-container .snackspage-container .snackspage-content p {
            text-align: justify;
            font-size: 15px;
        }
}

@media (max-width:425px){
        .snackspage-main-container {
            max-width: 375px;
            width: 100%;
            margin: 100px auto;
        }
        
        .snackspage-main-container .snackspage-container {
            flex-wrap: wrap;
            justify-content: space-between;
            gap: 40px;
        }
        
        .snackspage-main-container .snackspage-container .snackspage-banner img {
            height: 300px;
            width: 350px;
            border-radius: 30px;
            margin: 0px 15px;
        }
        .snackspage-main-container .snackspage-container .snackspage-content h2 {
            text-align: center;
            padding: 5px 0px;
            font-size: 25px;
        }
        .snackspage-type-table .snackspage-table-heading h2{
            font-size: 25px;
        }
        
        .snackspage-main-container .snackspage-container .snackspage-content p {
            text-align: justify;
            font-size: 15px;
        }
}

@media (max-width:375px){
        .snackspage-main-container {
            max-width: 325px;
            width: 100%;
            margin: 80px auto;
        }
        
        .snackspage-main-container .snackspage-container {
            flex-wrap: wrap;
            justify-content: space-between;
            gap: 40px;
        }
        
        .snackspage-main-container .snackspage-container .snackspage-banner img {
            height: 250px;
            width: 325px;
            border-radius: 30px;
            margin: 0px 0px;
        }
        .snackspage-main-container .snackspage-container .snackspage-content h2 {
            text-align: center;
            padding: 5px 0px;
            font-size: 20px;
        }
        .snackspage-type-table .snackspage-table-heading h2{
            font-size: 20px;
        }
        
        .snackspage-main-container .snackspage-container .snackspage-content p {
            text-align: justify;
            font-size: 15px;
        }
}

@media (max-width:320px){
        .snackspage-main-container {
            max-width: 280px;
            width: 100%;
            margin: 70px auto;
        }
        
        .snackspage-main-container .snackspage-container {
            flex-wrap: wrap;
            justify-content: space-between;
            gap: 40px;
        }
        
        .snackspage-main-container .snackspage-container .snackspage-banner img {
            height: 250px;
            width: 280px;
            border-radius: 30px;
            margin: 0px 0px;
        }
        .snackspage-main-container .snackspage-container .snackspage-content h2 {
            text-align: center;
            padding: 5px 0px;
            font-size: 20px;
        }
        .snackspage-type-table .snackspage-table-heading h2{
            font-size: 20px;
        }
        
        .snackspage-main-container .snackspage-container .snackspage-content p {
            text-align: justify;
            font-size: 15px;
        }
}