@media (max-width:2560px) {
    .vegetable-banner {
        width: 200%;
        background-image: ('../images/vegetables/vegetable-banner.jpg');
        background-size: cover;
        padding: 283px 88px;
        margin: 121px -80px 0px -643px;
        position: relative;
    }
    .vegetable-logo-context img {
        max-width: 311px;
        margin: 62px 525px;
    }
    .vegetable-logo-context h1 {
        text-align: center;
        margin: -142px 0px;
        color: green;
        font-size: 56px;
    }
    .vegetable-logo-context p {
        margin: 76px -251px 0px -255px !important;
        text-align: justify;
        font-size: 30px !important;
    }
}
@media (max-width:1440px){
    .vegetable-banner {
        width: 156.5%;
        background-image: ('../images/vegetables/vegetable-banner.jpg');
        background-size: cover;
        padding: 283px 88px;
        margin: 121px -80px 0px -643px;
        position: relative;
    }
    .vegetable-logo-context p {
        margin: 35px -9px 0px -13px !important;
        text-align: justify;
        font-size: 23px !important;
    }
    .vegetable-logo-context img {
        max-width: 224px;
        margin: 39px 537px;
    }
    .vegetable-logo-context h1 {
        text-align: center;
        margin: -142px 0px;
        color: green;
        font-size: 36px;
    }
.vegetable-product {
    width: 100%;
    margin: -71px 0px;
}

}
@media (max-width:1280px){
    .vegetable-logo-context img {
        max-width: 205px;
        margin: 39px 529px;
    }
    .vegetable-banner {
        width: 100%;
        background-image: ('../images/vegetables/vegetable-banner.jpg');
        background-size: cover;
        padding: 184px 0px;
        margin: 81px 0px 0px 0px;
        position: relative;
    }
    .vegetable-logo-context p {
        margin: 35px 39px 0px 44px !important;
        text-align: justify;
        font-size: 18px !important;
    }
    .vegetable-logo-context h1 {
        text-align: center;
        margin: -115px 0px;
        color: green;
        font-size: 30px;
    }
}
@media (max-width:1024px){
    .vegetable-logo-context img {
        max-width: 205px;
        margin: 39px 408px;
    }
    .vegetable-banner {
        width: 100%;
        background-image: ('../images/vegetables/vegetable-banner.jpg');
        background-size: cover;
        padding: 157px 0px;
        margin: 81px 0px 0px 0px;
        position: relative;
    }
    .vegetable-logo-context img {
        max-width: 168px;
        margin: 21px 428px;
    }
    .vegetable-logo-context h1 {
        text-align: center;
        margin: -85px 0px;
        color: green;
        font-size: 24px;
    }
    .vegetable-logo-context p {
        margin: -65px 39px 0px 44px !important;
        text-align: justify;
        font-size: 17px !important;
    }

}
@media (max-width:768px){
    .vegetable-logo-context img {
        max-width: 168px;
        margin: 21px 299px;
    }
    .vegetable-banner {
        width: 100%;
        background-image: ('../images/vegetables/vegetable-banner.jpg');
        background-size: cover;
        padding: 121px 0px;
        margin: 61px 0px 0px 0px;
        position: relative;
    }
    .vegetable-logo-context p {
        margin: -129px 0px 0px -4px !important;
        text-align: justify;
        font-size: 16px !important;
    }
    .vegetable-img {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, auto));
        gap: 2.5rem;
        left: 0;
        right: 0;
        bottom: 0;
        position: relative;
        margin: 0px 126px;
    }
}
@media (max-width:425px){
    .vegetable-logo-context img {
        max-width: 168px;
        margin: 22px 124px;
    }
    .vegetable-banner {
        width: 100%;
        background-image: ('../images/vegetables/vegetable-banner.jpg');
        background-size: cover;
        padding: 66px 0px;
        margin: 61px 0px 0px 0px;
        position: relative;
    }
    .vegetable-logo-context img {
        max-width: 134px;
        margin: 6px 145px;
    }
    .vegetable-logo-context h1 {
        text-align: center;
        margin: -65px 0px;
        color: green;
        font-size: 19px;
    }
        .vegetable-logo-context p {
            margin: -129px 0px 0px 0px !important;
            text-align: justify;
            font-size: 13px !important;
        }
        .vegetable-product {
            width: 100%;
            margin: 0px -37px;
        }
}
@media (max-width:375px){
    .vegetable-logo-context img {
        max-width: 134px;
        margin: 6px 120px;
    }
    .vegetable-banner {
        width: 100%;
        background-image: ('../images/vegetables/vegetable-banner.jpg');
        background-size: cover;
        padding: 59px 0px;
        margin: 61px 0px 0px 0px;
        position: relative;
    }
    .vegetable-logo-context img {
        max-width: 127px;
        margin: 2px 120px;
    }
    .vegetable-logo-context h1 {
        text-align: center;
        margin: -65px 0px;
        color: green;
        font-size: 17px;
    }
    .vegetable-logo-context p {
        text-align: justify;
        font-size: 12px !important;
    }
    .vegetable-img {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, auto));
        gap: 2.5rem;
        left: 0;
        right: 0;
        bottom: 0;
        position: relative;
        margin: 0px 98px;
        margin-top: -123px;
    }
}
@media (max-width:320px){
    .vegetable-logo-context img {
        max-width: 108px;
        margin: 0px 106px;
    }
    .vegetable-banner {
        width: 100%;
        background-image: ('../images/vegetables/vegetable-banner.jpg');
        background-size: cover;
        padding: 50px 0px;
        margin: 61px 0px 0px 0px;
        position: relative;
    }
    .vegetable-logo-context h1 {
        text-align: center;
        margin: -52px 0px;
        color: green;
        font-size: 14px;
    }
    .vegetable-logo-context p {
        text-align: justify;
        font-size: 11px !important;
        margin: -154px 0px 0px -52px !important;
        margin-right: 1px !important;
    }
    .vegetable-product {
        width: 100%;
        margin: 0px -63px;
    }

}