.certificate-container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

.certificate-banner {
    background-image: url('../images/certificate/certificate-banner.png');
    background-size: cover;
    padding: 158px 631px;
    margin: 81px 0px 0px 0px;
    position: relative;
}

section.certificate-content {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
}

.certificate-logo-content img {
    margin: 0px 440px;
    width: 20%;
}

.certificate-logo-content h4 {
    text-align: center;
    color: green;
    font-size: 35px;
    margin: -50px 0px 40px 0px;
}

.certificate-logo-content p {
    text-align: justify;
    margin: 30px 0px;
    font-size: 20px;
}

section.certificate-img {
    max-width: 1100px;
    width: 100%;
    margin: 50px auto;
}

.certificate-row-img {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    gap: 2.5rem;
    left: 0;
    right: 0;
    bottom: 0;
}

.certificate img {
    box-shadow: 0px 0px 13px #808080a6;
    border-radius: 3px;
}

h1.certificate-con-1, h1.certificate-con-2, h1.certificate-con-3 {
    font-size: 20px;
    margin: 10px 106px;
}
.certificate-row-img-2 {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
}
.certificate-2 img {
    box-shadow: 0px 0px 13px #808080a6;
    border-radius: 3px;
    height: 400px;
    width: 600px;
}
h1.certificate-con-4 {
    font-size: 20px;
    margin: 10px 0px;
    width: 600px;
    padding: 0px 225px;
}