.contact-container{
    max-width: 1280px;
    width:100%;
    margin:0 auto;
}
.contact-container .contact-banner img{
    max-width: 1280px;
    width: 100%;
    margin:  0px auto;
    padding-top: 81px;
}
.contact-container .contact-form-body {
    max-width: 1100px;
    width: 100%;
    margin: 110px auto;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 10px 50px;
}
.contact-container .contact-form-body .contact-form,.contact-container .contact-form-body .contact-address {
    max-width: 550px;
    width: 100%;
    margin: 0 auto;
}
.contact-container .contact-form-body .contact-form h3,.contact-container .contact-form-body .contact-address h3{
    text-align: start;
    padding:20px 0px;
    font-size: 30px;
}
button.btn.btn-primary {
    margin: 0px 0px 0px 300px;
    border-radius: 20px;
}
.contact-form-body .contact-address .reg-add .single-contact-info {
    display: flex;
    margin-bottom: 15px;
}
.contact-form-body .contact-address .reg-add .contact-info-icon {
    width: 35px;
}
.contact-form-body .contact-address .reg-add .contact-text-info p{
    text-align:justify;
}