.footer-container{
  width: 100%;
  margin: 0px auto;
  max-width: 1280px;
}
.footer {
  width: 100%;
  margin: 20px 0px 0px 0px;
  background-color: #020222;
  background-repeat: no-repeat !important;
  background-size: cover;
  padding: 15px 0px 0px 0px;
}
.footer-class-contant{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(200px,auto));
  gap:2.5rem;
  position: relative;
}
.footer-content {
  margin: 0px 30px;
}


.footer-content h4 {
  color: white;
  margin-bottom: 2.5rem;
  font-size: 27px;
}
.footer-content li{
  margin-bottom: 16px;
  display: block;
  color: white;
  font-weight: 400;
  transition: all.40s ease;
}
.footer-content ul li a {
  display: block;
  color: white;
  transition: all .40s ease;
  text-decoration: none;
  margin: -2px 0px;
  padding: 0px 2px;
  font-size: 16px;
}
.footer-content li a:hover{
  transform: translateY(-3px) translateX(-5px);
  color: white;
}
.footer-content ul li :hover{
  transform: translateY(-3px) translateX(-5px);
  color: white;
}
.footer-content ul :hover{
  transform: translateY(-3px) translateX(-5px);
  color: white;
}
.icon a{
  display: inline-block;
  font-size: 22px;
  color: white;
  margin-right: 17px;
  transition: all.40s ease;
}
.footer-icon {
  display: flex;
  margin: 400px 0px;
}
.footer-content h3 {
  color: white;
  font-size: 18px;
  margin: 17px -16px;
}
.footer-content h5 {
  color: white;
  font-size: 12px;
  margin: 12px -1px;
}
.footer-content svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.css-i4bv87-MuiSvgIcon-root {
  font-size: 14px;
}

.icon {
  display: flex;
  color: white;
  margin: 0px 492px;
  gap: 84px;
}
svg.svg-inline--fa.fa-facebook-f {
  font-size: 34px;
  color: #3b5998;
}
svg.svg-inline--fa.fa-x-twitter {
  font-size: 38px;
}
svg.svg-inline--fa.fa-instagram {
  font-size: 38px;
  color:#E1306C;
}
.end-footer {
  width: 100%;
  background-color: black;
  height: 74px;
}
.end-footer-contant h2 {
  font-size: 20px;
  color: #9a99a0c9;
  padding: 25px 0px;
  text-align: center;
}