.header-container {
  max-width: 1280px !important;
  width: 100% !important;
  margin:0 auto;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header-container .navbar {
  height: 120px;
  width: 100% !important;
  position: fixed !important;
  top:0;
  left:0;
  z-index: 1000;
  max-width: 1280px;
}
.logo-img {
  height: 100px;
  width: 200px;
  margin: 10px 30px;
  background-color: white;
  border-radius: 50%;
}
.container-fluid .collapse .navbar-nav {
  display: flex;
  position: absolute;
  margin: 0px 40px;
  justify-content: space-between;
  gap: 54px;
  list-style: none;
  font-size: 20px;
  font-family: monospace; 
}
.container-fluid .collapse .navbar-nav a{
  text-decoration: none;
  color:#fff;
  font-weight: 800;
}
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
  --bs-gutter-x: -0.5rem !important;
  --bs-gutter-y: -0.5rem !important;
}
ul.dropdown-menu.show {
  background-color: #d85a5ae6;
}
.container-fluid{
  max-width: 1280px;
  width:100%;
  margin:0 auto;
}