.leaves-main-container{
    max-width: 1280px;
    width:100%;
    margin:0 auto;
}
.leaves-main-container .leaves-banner{
    width:100%;
    margin-top:121px;
}
.leaves-main-container .leaves-container {
    max-width: 1100px;
    width: 100%;
    margin: 150px 82px 0px 82px;
}
.leaves-main-container .leaves-container .leaves-icon {
    height: auto;
    width: 200px;
    margin: 0px 450px -35px 450px;
}
.leaves-main-container .leaves-container h1,.leaves-main-container .leaves-container h1{
    text-align: center;
    color: green;
    font-size: 30px;
    padding:5px 0px;
}
.leaves-main-container .leaves-container p{
    text-align: justify;
    margin: 25px auto;
    font-size: 15px;
}
.leaves-main-container .leaves-sub-container{
    max-width: 1100px;
    width:100%;
    margin:0 auto;
}
.leaves-main-container .leaves-sub-container {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: space-between;
    padding: 25px 0px;
}
.leaves-sub-container .card {
    height: 243px;
    width: 243px;
}
.leaves-main-container .leaves-sub-container .card .leaves-pic{
    height:243px;
    width:243px;
    box-shadow: 0px 0px 13px #808080a6;
    border-radius: 3px;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
}
.leaves-main-container .leaves-sub-container .card #leaf-link-name{
    margin: 0 auto;
    font-size: 20px;
    padding: 10px 0px;
}
.leaves-main-container .leaves-sub-container .card #leaf-link-name a{
    text-decoration: none;
    color: #00000091;
}