.snackspage-main-container {
    max-width: 1100px;
    width: 100%;
    margin: 150px auto;
}

.snackspage-main-container .snackspage-container {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.snackspage-main-container .snackspage-container .snackspage-banner img {
    height: 400px;
    width: 500px;
    border-radius: 30px;
}

.snackspage-main-container .snackspage-container .snackspage-content h2 {
    text-align: center;
    padding: 5px 0px;
    font-size: 30px;
}
.snackspage-type-table .snackspage-table-heading h2{
    font-size: 30px;
}
.snackspage-main-container .snackspage-container .snackspage-content p {
    text-align: justify;
    font-size: 15px;
}
.snackspage-type-table{
    margin:50px auto;
}
.snackspage-type-table .snackspage-table-heading table.table.table-hover.table-responsive.table-bordered {
    width: 80%;
    margin: 50px auto;
}

table.table.table-hover.table-responsive.table-bordered thead tr th {
    margin: 0 auto;
    padding: 10px 125px;
    text-align: center;
    padding: 15px 15px !important;
}
.even-columns-table th,
.even-columns-table td {
  width: calc(100% / 3);
  text-align: center;
}
.snackspage-type-table .snackspage-table-heading table.table.table-hover.table-responsive.table-bordered th {
    padding: 6px 35px;
    text-align: center;
}
.snackspage-type-table .snackspage-table-heading th#quantity{
    border-left-color: white;
    border-right-color: white;
}
.snackspage-type-table .snackspage-table-heading th#Quantity{
    border-right-color: white;
}