.spices-container{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}
.spices-body-container{
    max-width: 1100px;
    width:100%;
    margin:0 auto;
}
.spices{
    width:100%;
}
.spices-banner{
    background-image: url('../images/spices6.jpg');
    background-size: cover;
    padding: 141px 81px;
    margin: 121px 0px 0px 0px;
    position: relative;
}
.spices-banner h1 {
    color: #f4efef;
    font-size: 44px;
    position: absolute;
    margin: -61px 39px;
}
.spices-banner ul span a {
    color: #f4efef;
    font-size: 21px;
    margin: 75px 4px;
    text-decoration: none;
    padding: 10px -98px;
}
.spices-content {
    margin:0 auto;
    width:100%;
}
.spices-logo-context img {
    width: 200px;
    margin: 20px 450px 60px 450px;
}
.spices-logo-context h4 {
    text-align: center;
    margin: -96px 0px;
    color: green;
}
.spices-logo-context h1 {
    padding-top: 80px;
    color: green;
    text-align: center;
    font-size: 20px;
}
.spices-logo-context p {
    padding: 20px 0px;
    text-align: justify;
    font-size: 15px;
}
.spices-img {
    display: grid !important;
    grid-template-columns: repeat(4, 1fr) !important;
    left: 0;
    right: 0;
    bottom: 0;
    position: relative;
    margin: 50px -20px;
}
.spices-product{
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
}
img.spices-pic{
    box-shadow: 0px 0px 13px #808080a6;
    border-radius:3px;
    height:243px;
    width:243px;
}
h3#link-name a {
    text-decoration: none;
    color: #00000091;
    margin: 39px 81px;
    font-size: 23px;
}
.spices-img .card{
    height:293px;
    width:243px;
}

.h3, h3 {
    font-size: 3.75rem;
}
