.veg-main-container{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}
section.vegetable-type-banner {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
}
section.vegetable-type-banner img {
    height: 400px;
    width: 500px;
    border-radius: 30px;
    margin-top: 150px;
}
.veg-contant {
    margin-top: 150px;
}
.veg-contant h1 {
    text-align: center;
    padding: 10px 0px;
    font-size: 30px;
}
.veg-contant p {
    text-align: justify;
    line-height: inherit;
    font-size: 18px;
}
.veg-container {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.veg-type-table {
    width: 100%;
    max-width: 1100px;
    margin: 50px auto;
}

.veg-table-heading h1 {
    text-align: start;
    font-size: 30px;
    color: #000000b3;
}
