.veg-main-container{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}
section.vegetable-type-banner {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
}
section.vegetable-type-banner img {
    height: 400px;
    width: 500px;
    border-radius: 30px;
    margin-top: 150px;
}
.veg-contant {
    margin-top: 150px;
}
.veg-contant h1 {
    text-align: center;
    padding: 10px 0px;
}
.veg-contant p {
    text-align: justify;
    line-height: inherit;
}
.veg-container {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}
.veg-type-table {
    width: 100%;
    max-width: 1100px;
    margin: 50px auto;
}

.veg-table-heading h1 {
    text-align: start;
    font-size: 48px;
    color: #000000b3;
}

table.table.table-hover.table-responsive.table-bordered {
    width: 63%;
    padding: 45px 2px;
    margin: 68px 234px;
}

table.table.table-hover.table-responsive.table-bordered th {
    padding: 6px 96px;
}

.table-bordered tr {
    border: 1px solid #ff000057;
}

.table-bordered th {
    border: 1px solid #ff000057;
}